<div ng-app="feedback" ng-controller="logincntrl" >
<h1> {{msg}} </h1>

Welcome to Messenger Site !!!


<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  .back {
     width: 2000;
     height: 2000;

  }

</style>  



<div class="back" ng-style="{ 'background-image': getimage() }">  

<div class="container">
    <img src="facebook_messenger_sign_up_david_marcus_post_thumb.jpg" alt="Northern Lights" width="600" height="200">
    <div class="overlay">
    <div class="text">Hello User Welcome to chat world !!! </div>
  </div>
</div>	


<button type=button ng-click=pathtologin()>Login</button> &nbsp; &nbsp;
<button type=button ng-click=pathtoregister()>Signup</button> &nbsp; &nbsp;&nbsp; &nbsp;



</div>
