<html>

<div ng-app="feedback" ng-controller="logincntrl">

<style>
  .back {
     width: 2000;
     height: 2000;

  }
     .text1 {
    color: black;
    opacity: 1000;
    font-weight: bold;
  }
  </style>

<div class="text1">
<div class="back" ng-style="{ 'background-image': getimage() }">	

Select Sender :<br><br>
<input type=button value="View Senders" ng-click="viewSenders()">&nbsp;&nbsp;&nbsp;&nbsp;
<select ng-model="example" >
<option ng-repeat="send in senders">{{send.username}}</option>
</select>

<br><br><br><br><br>
ADD LABEL SECTION
<br><br><br><br>
Enter Label Name:&nbsp;&nbsp;&nbsp;
<input type="text" ng-model="LabelName"><br><br>
Enter Label Text: &nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" ng-model="LabelText"><br><br>
<input type="button" value="Select Parent Label" ng-click="viewlab()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<select ng-model="exam" >
<option ng-repeat="lab in labe track by $index">{{lab.parentlabel}}</option>
</select>

<br><br>
<input type="button" value="Add Label" ng-click="add()">

<br><br><br><br><br><br><br>

EDIT LABEL SECTION
<br><br><br><br>
Select the label which you want to update or delete:

<br><br>
<input type="button" value="Select Label" ng-click="viewlab()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<select ng-model="exam2" >
<option ng-repeat="lab in labe track by $index">{{lab.parentlabel}}</option>
</select>	
<br><br><br>
Choose your edit/update option:
<br><br><br>
<select ng-model="exam1">
  <option value="tex">LabelName</option>
  <option value="parent">LabelParent</option>
  <option value="delete">Delete</option>
</select>
<br><br><br><br>
Enter label name to update: &nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" ng-model="newlab">
<br><br>
OR
<br><br>
Select New Parent Label: &nbsp;&nbsp;&nbsp;&nbsp;
<select ng-model="exam3" >
<option ng-repeat="lab in labe track by $index">{{lab.parentlabel}}</option>
</select>	
<br><br>
<input type="button" value="Action" ng-click="filter()">
<input type="button" value="Back" ng-click="back()">

</div>
</div>
