

Welcome to Login Page!!! <br>



<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  .back {
     width: 2000;
     height: 2000;

  }

  .text1 {
    color: black;
    opacity: 1000;
    font-weight: bold;
  }

</style>	



<div class="back" ng-style="{ 'background-image': getimage() }">	

<div class="container">
    <img src="facebook_messenger_sign_up_david_marcus_post_thumb.jpg" alt="Northern Lights" width="600" height="200">
    <div class="overlay">
    <div class="text">Hello User Welcome to chat world !!! </div>
  </div>
</div>				

<div class ="text1" ng-app="feedback" ng-controller="logincntrl">

Username:&nbsp;
<input type="text" ng-model="username" style="color:blue;" placeholder="Enter your Username" ><br><br>
Password:&nbsp;
<input type="Password" ng-model="password" style="color:blue;" placeholder="Enter your Password" ><br><br>

<input type="button" value='Sign In' ng-click="login()" ><br><br>


<a href="#/">Back</a> 
</div>

