<div ng-app="feedback" ng-controller="logincntrl">


<style>
  .back {
     width: 5000;
     height: 5000;

  }
  .list{
  	width: 200,
  	height: 200;
  }

  </style>
<div class="back" ng-style="{ 'background-image': getimage() }">

Enter Url for adding photo in album:<br><br>
<input ng-model="profpic" type="text"  style="color:blue;" placeholder="Select photo"><br><br>
<input  type="button" value="Addpic" ng-click="addPalbum()"><br><br><br><br>
<input  type="button" value="Viewpic" ng-click="viewPalbum()"><br><br><br><br>



        <div class="list">
                 <ul-select>
                        <li-select ng-repeat="image in images">
                                <input type="checkbox" ng-model = "image.idf" ng-true-value="'ok'"  />
                                <img ng-src="{{image.photos}}" />
			</li-select>
		</ul-select>
	</div>
<input  type="button" value="DeletePic" ng-click="deletePalbum()"><br><br><br><br>
<input  type="button" value="Back" ng-click="back()">

    </div>
    </div>

