<div ng-app="feedback" ng-controller="logincntrl">


<style>
  .back {
     width: 2000;
     height: 2000;

  }
  </style>
<div class="back" ng-style="{ 'background-image': getimage() }">

Enter Url for profile pic:<br><br>
<input ng-model="profpic" type="text" id="file"  style="color:blue;" placeholder="Select profile picture"><br><br>
<input  type="button" value="Addprofilepic" ng-click="addPP()"><br><br><br><br>


</div>