

<div ng-app="feedback" ng-controller="logincntrl">

 <h1>Hello {{username}}! Register Yourself </h1>


<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  .back {
     width: 2000;
     height: 2000;

  }

  .text1 {
    color: black;
    opacity: 1000;
    font-weight: bold;
  }

</style>  

<div class="text1">

<div class="back" ng-style="{ 'background-image': getimage() }">  

<div class="container">
    <img src="facebook_messenger_sign_up_david_marcus_post_thumb.jpg" alt="Northern Lights" width="600" height="200">
    <div class="overlay">
    <div class="text">Hello User Welcome to chat world !!! </div>
  </div>
</div>	


<form action="/api/process_get" method="POST">
Enter a Unique UserName:&nbsp;

<input ng-model="username" type="text"  style="color:blue;" placeholder="Enter a Unique UserName"><br><br>

Enter a Unique User ID:&nbsp;
<input ng-model="userid" type="text"  placeholder="Enter a Unique userid" style="color:blue;"><br><br>

Enter your Email-id:&nbsp;
<input ng-model="email" type="email" id="emailid" style="color:blue;" placeholder="Enter your Email-id" ><br><br>

Enter your DOB:&nbsp;
<input ng-model="dob" type="Date" id="dob" style="color:blue;" placeholder="Enter your Date of Birth" ><br><br>

Enter Password:&nbsp;
<input ng-model="password" type="password" id="pass1" style="color:blue;" placeholder="Enter Password"><br><br>

Enter Password Again:&nbsp;
<input ng-model="password1" type="password" id="pass2" style="color:blue;" placeholder="Enter Password Again" ><br><br><br>


<input type="button" value="Register" ng-click="submit()" >
</form>



<a href="#/">Back</a> 

</div>
</div>
</body>
</html>
